header{
    width: 100%;
    z-index: 10;
}
#logo {
    height: 3.3cm;
    width: 3.3cm;
    padding:0cm;
    padding-top:0.2cm;
    padding-bottom:0.5cm;
}
#logo.big {
    height: 5cm;
    width: 5cm;
    padding: 0cm;
    padding-top: 0.2cm;
    padding-bottom: 0.5cm;
}
#lock {
    height: 0.8cm;
    width: 0.8cm;
    position: fixed;
    right: 0.3cm;
    top: 0.3cm;
    z-index: 11;
}
#unlock {
    height: 0.8cm;
    width: 0.8cm;
    vertical-align: middle;
    z-index: 11;
}
#username {
    display: none;
    position: fixed;
    right: 0.3cm;
    top: 0.3cm;
    width: 6cm;
}
#email {
    display: none;
    width: 6cm;
}
#passwords1 {
    display: none;
    width: 6cm;
}
#passwords2 {
    display: none;
    width: 6cm;
}
#signupSpan {
    
}
#signupdiv {
    display: none;
    position: fixed;
    right: 0.3cm;
    top: 1.1cm;
}
#password {
    display: none;
    position: fixed;
    right: 0.3cm;
    top: 0.3cm;
    width: 6cm;
}
#usermenu {
    display: none;
    position: fixed;
    right: 0.3cm;
    top: 0.3cm;
}    
#user {
    
}
#log {
    position: fixed;
    bottom: 0.3cm;
    right: 0.3cm;
}
#search-bar{
    width: 100%;
}
#search-tool {
    width:0.5292cm; /*20px on iphone 12 mini*/
    height:0.7cm;
    padding-left:0px;
    padding-right:0px;
    border-radius:0px;
    position:relative;
    margin-left:0.08cm;
}
#mouth {
    height: 0.83cm;
    border-width:0px;
    line-height: 0.8cm;
    resize: none;
    position: relative;
    font-family:Quicksand;
    font-size:0.72cm;
    margin:0px;
    padding:0px;
    width:8.4cm;
}
.inptTxtBx {
    color: rgb(192,192,192);
}
.inptTxtBx:focus {
    outline:none;
    color: rgb(192,192,192);
}
.inptTxtBx.typing:focus {
    outline:none;
    color: black;
}
.inptTxtBx.typing:blur {
    color: black;
}
inptTxtBx.typing {
    color: black;
}
#lips {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 0.2cm;
    margin-top: 0.7cm;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    display: inline-block;
}

#mouth-pad {
    padding-left:6px;
    padding-right:6px;
    display:inline-block;
    top:-0.7cm;
    position:relative;
    font-size:0px;
}

#NewThingImgs div {
    display: inline-block;
    width: 6cm;
    height:8cm;
}

#NewThingImgs svg.fixedSize {
    width: 6cm;
    height: 8cm;
    background-color: rgb(64,64,64);
}

#NewThingImgs svg path {
    fill: rgb(128, 128, 128);
}

#NewThingImgs div input.editBtn {
    /* display: block; */
    /* width: 0.8cm; */
    /* height: 0.8cm; */
    top: -1cm;
    position: relative;
    /* background-image: url('/images/myIconSet.png'); */
    /* background-position: 0px -140px; */
    /* background-size: 938px; */
    /* filter: invert(1); */
    /* border-color: black; */
    /* border-left-width: 2px; */
    /* border-right-width: 2px; */
    /* border-top-width: 2px; */
    /* border-bottom-width: 2px; */
}

.transform2s3d{
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s linear;
    -webkit-transform-style: preserve-3d;
    -moz-transition: width 2s, height 2s, -moz-transform 2s linear;
    -moz-transform-style: preserve-3d;
    transition: width 2s, height 2s, transform 2s linear;
    transform-style: preserve-3d;
}
.middle {
    position: relative;
    display: block;
    text-align: center;
}
.center {
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: block;
    margin: auto;
}
@font-face{
    font-family:Quicksand;
    src:url("/fnt/Quicksand.woff");
}
@font-face{
    font-family:SourceCodePro;
    src:url("/fnt/SourceCodePro.woff");
}
@font-face{
    font-family:SourceCodeBold;
    src:url("/fnt/SourceCodeBold.woff");
}
.invisible{
    opacity: 0;
    filter: alpha(opacity=0);
}
.hidden {
    display: none;
}
#land {
    width: 100%;
}
#compound-wall {
    padding-left:6px;
    padding-right:6px;
    display:inline-block;
    position:relative;
}
.plot {
    position: relative;
    display: inline-block;
    width: 4cm;
    height: 4cm;
    border-width:1px;
    border-color:black;
    border-style:solid;
    vertical-align:top;
}
.fat.plot {
    width: 8cm;
    height: 4cm;
}
.tall.plot {
    width:  4cm;
    height: 8cm;
}
.jumbo.plot{
    width: 8cm;
    height: 8cm;
}
.plot .facade,
.plot .name{
    display:block;
    position:relative;
}
.plot .facade{
    height:75%;/*192px;*/
    border:0px;
    border-bottom-width:1px;
    border-color:black;
    border-style:solid;
}
.plot .name{
    height:25%;
}
/*.tall.plot .facade,
      .jumbo.plot .facade{
      height:384px;
      }
      .tall.plot .facade,
      .jumbo.plot .facade{
      height: 128px;
      }
      .tall.plot .facade,
      .jumbo.plot .facade{
      height:384px;
}*/
