header{
    width: 100%;
}
#logo {
    height: 3.3cm;
    width: 3.3cm;
    padding:0.5cm;
    padding-top:0.2cm;
}
#logo.big {
    height: 5cm;
    width: 5cm;
    padding: 0.5cm;
}
#lock {
    height: 0.8cm;
    width: 0.8cm;
    position: fixed;
    right: 0.3cm;
    top: o.3cm;
}
#unlock {
    height: 0.8cm;
    width: 0.8cm;
    vertical-align: middle;
}
#username {
    display: none;
    position: fixed;
    right: 0.3cm;
    top: 0.3cm;
    width: 6cm;
    color: rgb(192,192,192);
}
#email {
    display: none;
    width: 6cm;
    color: rgb(192,192,192);
}
#passwords1 {
    display: none;
    width: 6cm;
    color: rgb(192,192,192);
}
#passwords2 {
    display: none;
    width: 6cm;
    color: rgb(192,192,192);
}
#signupdiv {
    display: none;
    position: fixed;
    right: 0.3cm;
    top: 1.1cm;
}
#password {
    display: none;
    position: fixed;
    right: 0.3cm;
    top: 0.3cm;
    width: 6cm;
    color: rgb(192,192,192);
}
#usermenu {
    display: none;
    position: fixed;
    right: 0.3cm;
    top: 0.3cm;
}    
#user {
    
}
#log {
    position: fixed;
    bottom: 0.3cm;
    right: 0.3cm;
}
#search-bar{
    width: 100%;
}
#search-tool {
    width:20px;
    height:32px;
    padding-left:6px;
    padding-right:6px;
    position:relative;
}
#mouth {
    height: 40px;
    border-width:0px;
    line-height: 32px;
    resize: none;
    position: relative;
    font-family:Quicksand;
    font-size:32px;
    margin:0px;
    padding:0px;
    color:rgb(192,192,192);
    width:380px;
}
.inptTxtBx:focus{
    outline:none;
}
#lips {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 8px;
    margin-top: 50px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    display: inline-block;
}
#mouth-pad {
    padding-left:6px;
    padding-right:6px;
    display:inline-block;
    top:-34px;
    position:relative;
}
.transform2s3d{
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s linear;
    -webkit-transform-style: preserve-3d;
    -moz-transition: width 2s, height 2s, -moz-transform 2s linear;
    -moz-transform-style: preserve-3d;
    transition: width 2s, height 2s, transform 2s linear;
    transform-style: preserve-3d;
}
.middle {
    position: relative;
    display: block;
    text-align: center;
}
.center {
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: block;
    margin: auto;
}
@font-face{
    font-family:Quicksand;
    src:url("/fnt/Quicksand.woff");
}
@font-face{
    font-family:SourceCodePro;
    src:url("/fnt/SourceCodePro.woff");
}
@font-face{
    font-family:SourceCodeBold;
    src:url("/fnt/SourceCodeBold.woff");
}
.invisible{
    opacity: 0;
    filter: alpha(opacity=0);
}
#land {
    width: 100%;
}
#compound-wall {
    padding-left:6px;
    padding-right:6px;
    display:inline-block;
    position:relative;
}
.plot {
    position: relative;
    display: inline-block;
    width: 256px;
    height: 256px;
    border-width:1px;
    border-color:black;
    border-style:solid;
    vertical-align:top;
}
.fat.plot {
    width: 512px;
    height: 256px;
}
.tall.plot {
    width:  256px;
    height: 512px;
}
.jumbo.plot{
    width: 512px;
    height:512px;
}
.plot .facade,
.plot .name{
    display:block;
    position:relative;
}
.plot .facade{
    height:75%;/*192px;*/
    border:0px;
    border-bottom-width:1px;
    border-color:black;
    border-style:solid;
}
.plot .name{
    height:25%;
}
/*.tall.plot .facade,
      .jumbo.plot .facade{
      height:384px;
      }
      .tall.plot .facade,
      .jumbo.plot .facade{
      height: 128px;
      }
      .tall.plot .facade,
      .jumbo.plot .facade{
      height:384px;
}*/
